.op-weapon-panel, .op-name-panel {
    width: 290px;
    text-align: center;
}

.weapon-display-panel {
    width: 290px;
}

.weapon-collapsable-button {
    width: 290px;
    text-align: center;
    font-size: calc(1.275rem + .3vw);
}

@media screen and (min-width:900px) {
    .op-weapon-table-row {
        display: table-row;
    }

    .op-weapon-table-cell {
        display: table-cell;
    }
}

@media screen and (max-width:900px) {
    .op-panel-divider {
        width:320px;
    }
}