.operators-button-left, .operators-button-right {
    width: 48%;
}

.operators-button-left {
    float: left;
    margin-left: 1%;
}

.operators-button-right {
    float: right;
    margin-right: 1%;
}