version: '3.5'

services:
  web-app:
    image: julianusiv/ranbow_frontend
    restart: unless-stopped
    environment:
      RANBOW_HOST_URL: "https://ranbow.sample.net"
    depends_on:
      - db-api
    volumes:
      - ./Trunk.toml:/app/web-app/Trunk.toml

  db-api:
    image: julianusiv/ranbow_backend
    restart: unless-stopped
    environment:
      MONGO_CONNECTION_STRING: "mongodb://user:password@db:27017/"
    depends_on:
      - db

  db:
    image: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: "user"
      MONGO_INITDB_ROOT_PASSWORD: "password"
    volumes:
      - mongo_data:/data/db
      - mongo_config:/data/configdb

volumes:
  mongo_data:
  mongo_config: