@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4" style="color: white;">More up to date than Ubisoft itself</h1>
	<div class="container" style="color: white;">
        Go <a asp-area="" asp-controller="Ranbowmizer" asp-action="Ranbow">here</a> to Ranbow
    </div>
</div>
